<div class="container">
  <div class="row">
    <div>
      <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z">
          </path>
        </svg>
      </button>
    </div>
    <div style="flex: 1; padding: 0 5px;">
      <div id="typeFilter" ngbDropdown>
        <button style="width: 100%;" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
          dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>All</button>
          <button *ngFor="let itemType of itemTypes" ngbDropdownItem>{{itemType.name}}</button>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat"
          viewBox="0 0 16 16">
          <path
            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
          <path fill-rule="evenodd"
            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
        </svg>
      </button>
    </div>
  </div>
</div>
<ul class="items">
  <li *ngFor="let item of items">
    <div>{{item.name}} - Available ({{item.available}} {{item.type?.measure}})</div>
    <div>Last updated: {{item.updatedOn | date:'short'}}</div>
    <div><input readonly [id]="item.id" step="0.5" type="range" min="0" [max]="item.maxStock" [value]="item.available" ></div>
    <div>Notes: {{item.notes}}</div>
  </li>
</ul>